body{
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Noto Sans Japanese", "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, Meiryo, sans-serif;
  font-size: 100%;  
  text-align: left;  
  width: 1000px;
  margin: 0 auto;  
  padding: 20px; 
}

button, input, select, textarea{
  font-family: inherit;
  font-size: 100%;
}

.foo{
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.rule{
  position: relative;
  top: 30%;
  left: 10%;
}

.content{
  width: 99%;
  margin: 1%;
}

.copyright{
   clear: both;
   padding: 10px 0;
   font-style: normal;
   font-size: 11px;
}