body{
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Noto Sans Japanese", "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, Meiryo, sans-serif;
  font-size: 100%;  
  text-align: left;  
  width: 1000px;
  margin: 0 auto;  
  padding: 20px; 
}

.float{
  float: left;
}

button, input, select, textarea{
  font-family: inherit;
  font-size: 100%;
}

h1{
  padding: 5px;
  text-align: center;
  font-size: 2.45em;
}

h2{
  border-bottom: 1px dashed #aaa;
  border-left: 7px solid #aaa;    
  border-left: 7px solid rgba(0,0,0,.2);
  margin: 15px -15px 15px -22px;
  padding: 5px 15px;
}

.content{
  width: 99%;
  margin: 1%;
}